name: Build & Deploy

on:
  push:
    branches: [ main, development ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main, development ]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      packages: write

  deploy:
    needs: build
    if: startsWith(github.ref, 'refs/tags/v') 
    uses: amiasea/.github/.github/workflows/shared-deploy-nuget-pkg.yml@main
    permissions:
      contents: read
      packages: write
    with:
      artifact-name: nuget-package
    secrets: inherit 